/* your styles go here */

body{
    background-color: rgb(248, 240, 230);
    font-family: 'Cormorant Garamond', serif;
    color: rgb(0, 0, 0);
}

.logo-font{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: rgb(138, 65, 36);
    font-size: 30px;
}
.logo-image{
    height: 150px ;
    width: 360px;
    object-fit: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.headerMargin{
    margin-top: 170px;
}
.navbar{
    left: 39px;
}

.navbar-nav .nav-link.active {
    color:rgb(138, 65, 36);
}
.img-instagram{
    height: 300px;
    width: 250px;
    object-fit: cover;
}
.carousel-item{
    text-align: center;
    height: 40rem;
    position: relative;
}

.carousel-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

.parallax {
    /* The image used */
    background-image: url(../img/HD-photos/inside-tent1.jpeg);
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/*sets the background image of each Page.*/
#home-background{
    background-image: url(../img/HD-photos/glamp-main-photo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    display: grid;
    align-items: center;
}
#glamping-background{
    background-image: url(../img/HD-photos/glamp-tent8.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
    
}

#lounge-background{
    background-image: url(../img/HD-photos/glamp-tent1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}

#picnic-background{
    background-image: url(../img/HD-photos/picnic-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}
#contact-background{
    background-image: url(../img/HD-photos/add-on1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}
/*This is the background for content*/
.transparent-bg{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-items: center;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.transparent-bg-home{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-content: center;
    height: 200px;
    border-radius: 3%;
    padding: 30px;
    
}
.test-custom{
    width: 600px; 
    height: 200px;
    background-color: rgba(245, 244, 244, 0.29);
}
ul{
    list-style:none;
}
ul li{
    line-height: 25px;
    padding-bottom: 20px;
}
h1{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 100px;
    color: rgb(138, 65, 36);
}

h5{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 45px;
    color: rgb(138, 65, 36);
}

h6{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 30px;
    
}

.add-on-imgs{
    width: 280px;
    height: 400px;
    object-fit: cover;
}

#balloons-add-on{
    object-position: 80% 10%;
}

.add-on-text{
    font-style: italic;
}
.home-img{
    width: 713px;
    height:600px;
    object-fit: cover;
}

.package-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: .3;
}

.package-img-container{
    position: relative;
    text-align: center;
    color: white;
}

.border-design{
    width: 400px;
    background: rgba(255, 255, 255, 0.616);
    border-radius: 5%;
}

/*this styles the content within the transparent box*/
.content-styling{
    color:rgb(138, 65, 36);
    font-size: larger;
    font-family: 'Cormorant Garamond', serif;
    height: 100%;
}

a{
    color: white;
}

.btn-design{
    background-color: rgb(138, 65, 36);
    border-color: rgb(138, 65, 36);
    color:rgb(255, 255, 255);
    font-size: larger;
}

.icon-align-center{
    text-align: center;
}

.logo-image-footer{
    height: 200px;
    width: 300px;
}

navbar{
    z-index: 999;
}

/*---Media Queries --*/
@media only screen and (max-width: 1256px) {

    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
        }

    .test-custom{
        width: 500px; 
        height: 200px;
        background-color: rgba(245, 244, 244, 0.29);
    }

}

@media only screen and (max-width: 992px){
    .img-instagram{
        height: 300px;
        width: 340px;
        object-fit: cover;
    }
    .navbar{
        left: 0px;
    }
    .logo-image{
        height: 150px ;
        width: 260px;
        object-fit: cover;
    }
    /*This is the background for content*/
    .transparent-bg{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-items: center;
    margin: 0px 0px 0px 0px;
    }

}
  @media only screen and (max-width: 768px){
    .logo-image{
        height: 120px ;
        width: 200px;
        object-fit: cover;
    }
    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
    }
    .navbar{
        left: -50px;
    }

  }
  @media only screen and (max-width: 576px){
    .logo-image{
        height: 90px ;
        width: 160px;
        object-fit: cover;
    }
/*** LEFT ALIGN LIST

.align-text-left{
    display: inline-block;
    text-align: left;
}
***/

    .content-styling{
        font-size: medium;
    }
    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
        position: relative;
        max-width: 100%;
    }

    #glamping-background{
        background-image: url(../img/HD-photos/glamp-tent8.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    
    #lounge-background{
        background-image: url(../img/HD-photos/glamp-clients.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    
    #picnic-background{
        background-image: url(../img/HD-photos/picnic-2.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    #policies-background{
        background-image: url(../img/HD-photos/add-on1.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    .test-custom{
        width: 400px; 
        height: 200px;
        background-color: rgba(245, 244, 244, 0.29);
    }

    .navbar{
        left: 0px;
    }
  }
  @media (max-width: 575px) {

    .navbar-collapse{
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 0;
      padding: min(30vh, 10rem) 2em;
      flex-direction: column;
      background: hsl(0 0% 100% / .1);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(2rem);
    }
    
    .navbar-toggler{
        z-index: 99999;
    }

    .collapsing {
        transition: none;
    }

  }

  @media only screen and (max-width: 415px){
    .logo-image{
        height: 60px ;
        width: 140px;
        object-fit: cover;
    }

    .test-custom{
        width: 300px; 
        height: 300px;
        background-color: rgba(245, 244, 244, 0.29);
    }




  }