/* your styles go here */

.header{
    background-color: rgba(90, 175, 175, 0.907);
}
body{
    background-color: rgb(248, 240, 230);
    font-family: 'Cormorant Garamond', serif;
}
.logo:hover{
    color: rgb(114, 62, 9);
}
.logo-font{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: rgb(138, 65, 36);
    font-size: 30px;
}
.logo-image{
    height: 150px ;
    width: 360px;
    object-fit: cover;
}

.logo{
    font-size: 40px;
}

.navbar-nav .nav-link.active {
    color:rgb(138, 65, 36);
}
a:hover {
    color: #d8d2b8;
  }
.img-instagram{
    height: 300px;
    width: 250px;
    object-fit: cover;
}
.carousel-item{
    text-align: center;
    height: 40rem;
    position: relative;
}

.carousel-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
/*sets the background image of each Page.*/
#home-background{
    background-image: url(../img/HD-photos/glamp-main-photo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    display: grid;
    align-items: center;
}
#glamping-background{
    background-image: url(../img/HD-photos/glamp-tent8.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
    
}

#lounge-background{
    background-image: url(../img/HD-photos/glamp-tent11.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}

#picnic-background{
    background-image: url(../img/HD-photos/picnic-2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}
#policies-background{
    background-image: url(../img/HD-photos/add-on1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    align-items: center;
}
/*This is the background for content*/
.transparent-bg{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-items: center;
    margin: 0px 0px 0px 0px;
    text-align: center;
}
.transparent-bg-home{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-content: center;
    height: 200px;
    border-radius: 3%;
    padding: 30px;
    
}
.test-custom{
    width: 600px; 
    height: 200px;
    background-color: rgba(245, 244, 244, 0.29);
}
ul{
    list-style:none;
}
h1{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 100px;
    color: rgb(138, 65, 36);
}

h5{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 45px;
}

h6{
    font-family: 'rolasan_signatureregular', cursive;
    font-size: 30px;
}

#main-photo{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.add-on-imgs{
    width: 280px;
    height: 400px;
    object-fit: cover;
}

#balloons-add-on{
    object-position: 80% 10%;
}

.add-on-text{
    font-style: italic;
    color: rgb(138, 65, 36);
}
.home-img{
    width: 713px;
    height:600px;
    object-fit: cover;
}

img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.floral-design-img{
    width: 100px;
    height: 90px;
}
/*this styles the content within the transparent box*/
.content-styling{
    color:rgb(138, 65, 36);
    font-size: larger;
    font-family: 'Cormorant Garamond', serif;
}

.btn-design{
    border-color: rgb(138, 65, 36);
    color:rgb(138, 65, 36);
    font-size: larger;
}
.btn-design:hover{
    background-color: rgb(138, 65, 36);
    color: white;
    border-color: rgb(138, 65, 36);
}

.icon-align-center{
    text-align: center;
}

/*---Media Queries --*/
@media only screen and (max-width: 1256px) {
    .logo-image{
        height: 90px ;
        width: 160px;
        object-fit: cover;
    }
    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
        }

    .test-custom{
        width: 500px; 
        height: 200px;
        background-color: rgba(245, 244, 244, 0.29);
    }
}

@media only screen and (max-width: 992px){
    .logo-image{
        height: 90px ;
        width: 160px;
        object-fit: cover;
    }
    /*This is the background for content*/
    .transparent-bg{
    background-color: rgba(250, 235, 215, 0.893);
    color: rgb(114, 62, 9);
    display: grid;
    place-items: center;
    margin: 0px 0px 0px 0px;
    }
}
  @media only screen and (max-width: 768px){
    .logo-image{
        height: 90px ;
        width: 160px;
        object-fit: cover;
    }
    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
        }

  }
  @media only screen and (max-width: 576px){
    .logo-image{
        height: 90px ;
        width: 160px;
        object-fit: cover;
    }
    .transparent-bg{
        background-color: rgba(250, 235, 215, 0.893);
        color: rgb(114, 62, 9);
        display: grid;
        place-items: center;
        margin: 0px 0px 0px 0px;
        position: relative;
        max-width: 100%;
    }

    #glamping-background{
        background-image: url(../img/HD-photos/glamp-tent8.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    
    #lounge-background{
        background-image: url(../img/HD-photos/glamp-clients.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    
    #picnic-background{
        background-image: url(../img/HD-photos/picnic-2.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    #policies-background{
        background-image: url(../img/HD-photos/add-on1.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        display: grid;
        align-items: center;
    }
    .test-custom{
        width: 400px; 
        height: 200px;
        background-color: rgba(245, 244, 244, 0.29);
    }
  }
  @media only screen and (max-width: 415px){
    .logo-image{
        height: 60px ;
        width: 140px;
        object-fit: cover;
    }
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .test-custom{
        width: 300px; 
        height: 300px;
        background-color: rgba(245, 244, 244, 0.29);
    }
  }